body{
background-color:#e5ecec;
}
div{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border:1px solid #ccc;    width: 500px;
    margin: auto;
  border-style: inherit;
  font-size: small;
}
   
.input{
    border-radius: 5px;
    border: 1px solid #ccc;
}
p{
    background-color: #def5fa;
    padding: 20px;
    text-align: center;
}
#symbol-text{
    color: #0acf73;
    text-align: center;
}
#A{
padding: 7px;
width: 200px;
border-radius: 10px;
border:1px solid #ccc;
}
#B{
    padding: 7px;
    width: 200px;
    border-radius: 10px;
border:1px solid #ccc;
}
#C{
   width: 485px;
   padding: 7px;
   border-radius: 10px;
border:1px solid #ccc;
}
#D{
    width: 485px;
    padding: 7px;
    border-radius: 10px;
border:1px solid #ccc;
}
#E{
    width: 485px;
    padding: 7px;
    border-radius: 10px;
border:1px solid #ccc;
}
#F{
   width: 146px;
   padding: 7px;
   border-radius: 10px;
border:1px solid #ccc;
}
#G{
    width: 146px;
    padding: 7px;
    border-radius: 10px;
border:1px solid #ccc;
}
#H{
    width: 147px;
    padding: 7px;
    border-radius: 10px;
border:1px solid #ccc;
}
button{
    padding: 7px;
    background-color: #0acf73;
    color: azure;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 10px;
border:1px solid #ccc;
    
}
