body{
    background-color:pink ;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black
}
div{
    height:100px;
    width:100px;
    background-color: aliceblue;
    border:1px solid black;
}
.box first{
    background-color:blue;
}
div>p/*child selector*,means p which is direct child of div*/
{/*div p means which is descendent of div*/
    color:red;
}
input[type="text"]/*property/attribute selector*/{
    background-color: yellow;
}
/*.box 1 p,h1,h2==>p inside class box 1*/
/*root selector==>*{}or :root{}-contains whole body*/
*{
    background-color: white;
}
/*pseudo classes & pseudo selectors*
all pseudo selectors will contain ":" after sekector* i.e selector:pseudoselector*/
.box first:hover{
    background-color: blue;
}
a:link{
    color:red;
}
a:visited{
   color:yellow;
}
a:active{
    color:orange;
}
input:focus{
    background-color: white;
}
input:hover{
    background-color:orange;
}
div:empty{
    background-color: aqua;
}

